[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djangorestframework-jwt = "*"
django-rest-auth = "*"
django-allauth = "*"

[requires]
python_version = "3.7"
